# STRINGS IN PYTHON

<font color="red">=>Strings in python are immutable.we can a text in single as well as double quotes.

<font color="red">=>Python treat both single and double quotes statements same.

<font color="red">=>In python,Strings are stored individual charcters with.</font>

### Slicing and Indexing in python

#### Indexing

<font color="red">=>Using indexing we can use only single character at time.

<font color="red">=>In Python indexing are of two types:-

<font color="red">=>1.Forward indexing[starts with 0] 

<font color="red">=>2.backward indexing[start by default -1]

#### SLICING

<font color="red">=>Using Slicing we can access more than one character at a time.

<font color="red">=>syntax:-[start:end:step]

In [1]:
# PROGRAM OF INDEXING
var1="welcome"
print(var1[0],var1[1],var1[2],var1[3],var1[4],var1[5],var1[6])
print(var1[-1],var1[-2],var1[-3],var1[-4],var1[-5],var1[-6],var1[-7])

w e l c o m e
e m o c l e w

### TYPICAL QUESTIONS ON STRING SLICING

In [2]:
var1="welcome"
print(var1[-7:-1])

welcom

In [3]:
print(var1[-7:7]) # blank nhi chorna hai pura "welcome print karna hai"

welcome

In [ ]:
print(var1[-1:-8]) # it returns blank space

In [4]:
print(var1[-1:-8:-1]) #return karega ulta

emoclew

In [5]:
print(var1[::-1])   # if start and end value not given then it depends on step value

emoclew

In [6]:
print(var1[::-2])

eolw

In [ ]:
print(var1[2:7:-1])  #blank space ayga

In [ ]:
print(var1[0:7:0]) # value error ayga because slice step cannot be zero

In [ ]:
print(var1[2:3])

### CONCATENATE OPERATOR

In [ ]:
'''

+

It is used to combine more than two strings
'''

str1="Ducat "
str2="India"
print(str1+str2)

In [ ]:
print("Hello " +"World")

### Replicate operator

In [7]:
'''
*
it repeats the number of times repeats string

pahle bhio laga skte hai and baad me bhi
'''
str1="DUCAT "
str2="INDIA "
print(str1*3)
print()
print(3*str1)
print(4*str2)

DUCAT DUCAT DUCAT

DUCAT DUCAT DUCAT
INDIA INDIA INDIA INDIA

In [ ]:
print("-"*40)
print("      BANK MANAGEMENT SYSTEM       ")
print("-"*40)

## FUNCTIONS AND METHODS IN PYTHON

In [8]:
#.capitalize():-Converts the first characte to upper case
str1="welcome to ducat"
print(str1.capitalize())

Welcome to ducat

In [ ]:
# .count(string,begin,end) # total count karega o kitne baar aya hai
str1="welcome to python programeng"
print(str1.count('o')) # O index start hoga
print(str1.count('o',5)) # 5 index se start hoga
print(str1.count('o',5,10)) # 5 se 10 tk index lega

print(str1.count("me"))
print(str1.count(" "))
print()
'''
more than one line string me dalna hai to triple quotes ka
use karenge
'''
var1=''' python is a high level language.python
is a dynamic type language.python is a multipurposer programming language
'''
print(var1.count('python'))

In [ ]:
#.endswith(string,start,end)
str1="welcome to ducat"
print(str1.endswith("ducat"))
print()
print(str1.endswith("come",3,7))

In [ ]:
#.startswith()
str1="welcome to ducat"
print(str1.startswith("ducat"))
print()
print(str1.startswith("come",3,7))

In [ ]:
#.find(string,begin,end):-JO bhi substring denge substring ke pahle bale letter ka index batayga
str1="welcome to ducat"
print(str1.find("come"))
print(str1.find("come",3))
print(str1.find("come",30)) #it will always return negative value if index provided is not same[syntax error real]

In [ ]:
#.index(string,begin,end) 
str1="welcome to ducat"
print(str1.index("come"))
print(str1.index("come",3))
print(str1.index("come",30)) #it will always return syntax error real[diffeerence yhi hai find and index me]

In [ ]:
#isalnum():-It returns True and False alphanumeric is present in chacracter.[space and allowed not nhi hai]
str1="Welcome to python 3.14"
str2="python314"
str3="pythoghgjjj"
# sapce and alnum 
print(str1.isalnum())
print()
print(str2.isalnum())
print()
print(str3.isalnum())
print()

In [ ]:
#isalpha():-It returns true and false if only alphabet present in string
str1="Welcome to python 3.14"
str2="python314"
str3="pythoghgjjj"
print(str1.isalpha())
print()
print(str2.isalpha())
print()
print(str3.isalpha())
print()

In [ ]:
#isdigit():-It returns true and false if only digit is present
str1="123456578"
str2="33444 314"
str3="pythoghgjjj123"
print(str1.isdigit())
print()
print(str2.isdigit())
print()
print(str3.isdigit())
print()

In [ ]:
#.islower():-It will return true and false if string is in lower case[space,special symbol,digit allowed hai]
str1="welcome to ducat"
str2="python programming 4 is a high level language"
print(str1.islower())
print()
print(str2.islower())

In [ ]:
#.isupper():-It will return true and false if string is in upper case[space,special symbol,digit allowed hai]
str1="WELCOME TO DUCAT"
str2="python programming 4 is a high level language"
print(str1.isupper())
print()
print(str2.isupper())

In [ ]:
#isspace():-It will return true and false if space is present in the strings ["blank space khali rahna chaiye"]
str1="WELCOME TO DUCAT"
str2="                         "
print(str1.isspace())
print(str2.isspace())

In [ ]:
#lower():-It will convert the all the upper case into lower case alphabet.
str1="WELCOME TO DUCAT"
str2="PYTHONISHIGHLANGUAGE THE AMOUNT OF HEAT ENERGY"
print(str1.lower())
print(str2.lower())

In [ ]:
#upper():-It will convert the all the lower case alphabet into upper case alphabet [blank space khali rahna chaiye]
str1="welcome to ducat"
str2="python is a high level language"
print(str1.upper())
print(str2.upper())

In [ ]:
#swapcase():-It will convert all the lower case into aplphabet upper case alphabet in the same string or different string
str1="WelcOme to DuCat"
str2="python is a High level Language"
print(str1.swapcase())
print(str2.swapcase())

In [ ]:
#repace():-It will replace the contents and it fit into new contents
str1=''' Python is a high level language.
Python is a multi purpose programming language.
Python is a interpreted based language.
Python is invented by Guido Van roussam.
'''
print(str1.replace("Python","R-Language"))
print()
'''Python$ is a high level language.
   Python$ is a multi purpose programming language.
   Python$ is a interpreted based language.
   Python$ is invented by Guido Van roussam.
'''
print(str1.replace("Python$ ",""))

In [ ]:
#join():-It will join two or more strings with no space is provided.
str1="Hello"
str2="Ducat"
print(" ".join([str1,str2]))
print("-".join([str1,str2]))

In [ ]:
#.split():-It will break thestring and convert them into string as a  list[we can also pass a parameter into split()]
str1="Python is a high level language"
print(str1.split())
print()
print(str1.split("g"))

In [ ]:
#len():-This function is used to find the length of string[length meblank space bhi count karega]
str1="Python is a high level language"
print(len(str1))

In [ ]:
#.lstrip():-It will remove the contents from left side[space and value can be remove from left hand side]
str1="            WELCOME TO DUCAT         "
str2="@@@@@@@@@@@Hello world!!!!!!!!!!!!!!!!!!"
print(str1.lstrip())
print(str2.lstrip('@'))

In [1]:
#.rstrip():-It will remove the contents and space from right hand side(space and value can be removed from right hand)
str1="            WELCOME TO DUCAT         "
str2="@@@@@@@@@@@Hello world!!!!!!!!!!!!!!!!!!"
print(str1.rstrip())
print(str2.rstrip('!'))

            WELCOME TO DUCAT
@@@@@@@@@@@Hello world

In [3]:
#strip():-It will remove the contents and space from both hand side[but contents remains same]
str1="            WELCOME TO DUCAT                 "
str2="@@@@@@@Hello world@@@@@@@"
print(str1.strip())
print(str2.strip('@'))

WELCOME TO DUCAT
Hello world

# LIST IN PYTHON

<font color="red">=>Python list are the data type structures that is capable of holding similar and different data type of data.

<font color="red">=>Python list are mutable that means we can change the data item in the list

<font color="red">=>A list can be composed by storing a sequence of different type of values separated by commas.

<font color="red">=>List is enclosed with in square bracket[list]

<font color="red">=>The elements in the list are stored in the index basis with starting index 0 and -1</font>

### Accessing list

In [ ]:
data1=[1,2,3,4]
data2=['x','y','z']
data3=[2.5,8.9,7]
data4=["aman","deepak","anmol"]
data5=["pankaj",10,10.5,'a']
print(data1[0])
print(data4[::])
print(data3[0:7])

### list concatenate Operator

In [ ]:
list1=[10,20,30,40, 50,60]
list2=[30,40,50]
list3=list1+list2 # means this opeartor is used to combine the more than one list
print(list3)

### list replicate operator (*)

In [ ]:
# this operator is used to repeat the list at  given number of times
list1=[10,20,30,40, 50,60] 
list2=[30,40,50,60,65,89]
print(list1*4) #It add the 4 times in list 1
print(3*list2) #It add the 4 times in list 2

### Updating of list elements

In [ ]:
# We can also upadte the list elements means we can replace with the new elements
data=[10,20,30,40,50,60]
print(data)
data[2]="repaced item" # 2nd index pr replace karega
print(data)
data[5]=50.78
print(data)

### deleting of list elements

In [ ]:
# To delete the item from the list we have to use "DEL KEYWORD"
# it is used to delete only one item or more than one items from the list
data=[10,20,30,40,50,60]
del data[0]
print(data)
del data[2:4] # index starts again after deleting the single item in the list
print(data)
del data
print(data) # it will give an error because list is to be deleted

### Clear method in list

In [ ]:
# This method is used to just clear the list elements but entire list cannot be deleted 
data=[10,20,30,40,50,60]
data.clear() 
print(data)

### Appending of list elements

In [ ]:
#After clearing  the list elements we need to insert the new elements with the list by using .append() method.
# It will the add the items in the list index of the list
data=[10,20,30,40,50,60]
data.append(70)
print(data)
print()
data.clear()
print(data)
data.append(30)
print(data)
data.append("Sohan")
print(data)
data.append("Mohan")
data.append(True)
data.append(90.78)
print(data)

### List handling Function

In [ ]:
# min():-This function is used to return minimum value in the list
data=[23.66,45,89.56,56,67.89,78]
print(min(data))

In [ ]:
#max():-This function is used to return maximum value in the list
data=[23.66,45,89.56,56,67.89,78]
data1=["ankit","deepak","elvish","anmol"]
print(max(data))
print()
print(max(data1))

In [ ]:
#len():-This function is used to count the number of total elements present in that list.
data=[23.66,45,89.56,56,67.89,78]
data1=["ankit","deepak","elvish","anmol"]
print(len(data))
print()
print()
print(len(data1))

In [ ]:
#.index(object):-This function is used to return the index of that particular elements
data=[10,20,30,40,50,60,45.89,"ankit",10,20]
print(data.index("ankit"))
print()
print(data.index(10))

In [ ]:
#.count(object):-This function is used to count the number of particular elements present in a particular list
data=[10,20,30,40,10,20,30,50,85,50,89,56,50,"34"]
count=data.count("34")
print(count)
print(data.count(20))
print(data.count(50))

In [ ]:
# .pop():-This method is used to remove the elements at the specified index by default it reemove the elements from the last
data=[10,20,20,30,30,40,20,30]
print(data)
data.pop(2)
print(data)

In [ ]:
# .insert():-This function is used to insert the elements at the specified index(position)
data=[10,20,40,50,60,80,70]
print(data)
data.insert(2,100)
print(data)
print()

In [ ]:
# .extend():-This function is used to add the elments at the end of current list elements
data1=[10,20,30,20.8,70.8]
data2=["a","b","c","d"]
data1.extend(data2)
print(data1)
print()
data2.extend(data1)
print(data2)

DIFFERNCE BETWEEN DEL AND REMOVE KEYBOARD

In [ ]:
'''
del is a keyword in python and is used to remove an element or multiple elements or entire whole list
        while remove delete only one element at a time

del works on index. 
             while remove works on value

del deletes an element at the specified index number 
                    while remove removes the first matching value from the list

'''

In [ ]:
# del keyword:-it works on index number
data=[10,20,30,40,50]
del data[2] # it removes value at index 2
print(data)
del data[0:3]
print(data)
del data
#print(data) #produce error because data is not defined

In [ ]:
# .remove():-it works on a value
data=[10,20,30,40,50]
data.remove(20)
print(data)

In [ ]:
#reverse():-this function is used to change the elements of the list in reverse order
data=[10,20,30,40,50]
data.reverse()
print(data)

In [ ]:
# .sort():-This methods is used to arrange the elements of the list in ascending or descending order
data=[7,6,5,63,4,9,8,89,56.78,89.90]
data.sort()
print(data)
print()
data.sort(reverse=True) # for descending
print(data)

#### NESTED LIST IN PYTHON

<font color="red">nested list is a list of lists,or any list that has another list as an element

In [ ]:
record=["welcome",["aman","deepak","pankaj","raj"],[23,48,89]]
print(record)
print(record[0][0:])
print(record[1][0])

# TUPLE IN PYTHON

<font color="red">=>Tuple are used to store multiple items in a single variable 

<font color="red">=>Tuple is a built in data type that is used to store collection of data items

<font color="red">=>Tuple is immutable data type means we cannot change the tuple elemnts.

<font color="red">=>Tuple is ordered so indexing is allowed in tuple

<font color="red">=>tuple are written in round brackets()

In [ ]:
a=[10,20,30,40,50]
print(type(a))
a=(10,20,30,40,50)
print(type(a))
c=10,20,30,40,50
print(type(c))

<font color="red">ACCESING TUPLES

In [ ]:
data1=(1,2,3,4)
data2=('x','y','z','w')
data3=(10,20,"aman",34.5)
print(data1[0:2])
print(data2[0:])
print(data1[-4:-3:-1])

In [ ]:
#Tuple concatenate operator (+):-This operator is used to add the list w\ith another list
tup1=(10,20,30,40)
tup2=(50,60,70,80)
tup3=tup1+tup2
print(tup3)

In [ ]:
#Tuple replicate operator(*):-This operator is used to repeat the tuple at a given number of times
tup1=(10,20,30,40,50)
tup2=('a','b','c','d','e')
print(tup1*3)
print(2*tup2)

In [ ]:
#updating of tuple elemnts
data=(10,20,30,40,50,60)
print(data)
#data[2]='Multiple of 5' # we can not update tuple elements
print(data)

In [ ]:
#deleting of tuple elemnts[we cannot delete a single element]
data=(10,20,30,40,50,60)
print(data)
del data
print(data)

##### <font color="red">Tuple handling function and methods

In [ ]:
#len():-This function is used to find the number of elements present in the list
data=(10,20,30,40,50,60)
print(len(data))

In [ ]:
#min():-This function is used to find the smallest element present in the list
data=(10,20,30,40,50,60)
print(min(data))

In [ ]:
#max():-This function is used to find the largest element present in the list
data=(10,20,30,40,50,60)
print(max(data))

In [ ]:
# .index():-This method isused to find out the index of a particular elements
data=(10,20,30,40,50,60)
print(data.index(40))

In [ ]:
# .count():This methods is used to find out the the how many times a repeated elements will occur
data=(10,40,30,40,50,60,40)
print(data.count(40))

# DICTIONARY IN PYTHON

<font color="red">=>Dictionary is an ordered set of key and value pair.It is an container that contains data enclosed within curle braces.

<font color="red">=>The Pair i.e key and value is known as an items.

<font color="red">=>The key passed in the data items must be unique.

<font color="red">=>The key and value is separated by a colon(:)

<font color="red">=>Items are separated by a comma(,)

<font color="red">=>Differnt items are enclosed within a curle braces and this form a dictionary

<font color="red">=>Dictionary is mutable ie value can be updated

<font color="red">=>Dictionary is known as an associative array since the key works as index and they are decided by the user

<font color="blue"><b>How to create a dictionary

In [1]:
#1st Method
dict={100:'aman',200:"deepak",300:"pankaj",400:"Raj"}
print(dict)
print(type(dict))
print()

#2nd Method
data={}
data[11]="aman"
data[22]="ankit"
data[33]="Rohit"
data[44]="Raj"
print(data)
print(type(data))

{100: 'aman', 200: 'deepak', 300: 'pankaj', 400: 'Raj'}
<class 'dict'>

{11: 'aman', 22: 'ankit', 33: 'Rohit', 44: 'Raj'}
<class 'dict'>

<font color="red"><b>updation of dictionary elements</font>

In [2]:
data1={'id':11,'name':'aman','age':23,'profile':'manager'}
print(data1)
print()
data1["profile"]='developer'
data1["id"]=22
data1["name"]="Ankit"
data1["age"]=23
print(data1)

{'id': 11, 'name': 'aman', 'age': 23, 'profile': 'manager'}

{'id': 22, 'name': 'Ankit', 'age': 23, 'profile': 'developer'}

#### <font color="red"><b>deletion of dictionary elements</font>

In [ ]:
data={'id':11,'name':'aman','age':23,'profile':'manager'}
print(data)
del data['age']
print(data)
del data
#print(data)

#### <font color="black">dictionary methods in python</font>

In [3]:
#len():-this function is used to find the length/items in a dictionary
data={'id':11,'name':'aman','age':23,'profile':'manager'}
print(len(data))

4

In [4]:
#max():-this function is used to find the largest element according to key wise
data={'id':11,'name':'aman','age':23,'profile':'manager'}
print(max(data))

profile

In [ ]:
#min():-this function is used to find the minimum element according to key wise
data={'id':11,'name':'aman','age':23,'profile':'manager'}
print(min(data))

In [9]:
#clear():-this methods is used to clear the element from the dictionary
data={'id':11,'name':'aman','age':23,'profile':'manager'}
data.clear()
print(data)
data[11]="amar"
data[22]="ankit"
data[33]="alok"
data[44]="anand"
data[55]="pankaj"
data[66]="Raj"
print(data)

{}
{11: 'amar', 22: 'ankit', 33: 'alok', 44: 'anand', 55: 'pankaj', 66: 'Raj'}

In [5]:
#.values():-This method is used to find out all the the values in the data items  present in the dictionary
data={'id':11,'name':'aman','age':23,'profile':'manager'}
print(data.values())

dict_values([11, 'aman', 23, 'manager'])

In [6]:
#.keys():-This method is used to find out the key of all data items of the elements in the dictionary
data={'id':11,'name':'aman','age':23,'profile':'manager'}
print(data.keys())

dict_keys(['id', 'name', 'age', 'profile'])

In [7]:
#.items():-this method is used to find out all the data items prsent in the dictionary.
data={'id':11,'name':'aman','age':23,'profile':'manager'}
print(data.items())

dict_items([('id', 11), ('name', 'aman'), ('age', 23), ('profile', 'manager')])

In [8]:
# .values():-this method is used to find out the minimum values
data={'id':11,'name':22,'age':23,'profile':24}
print(min(data.values()))
print()
print(max(data.values()))

11

24

In [ ]:
#.update():-this method is used update more than one dictionary items into a previous dictionary items
data1={1:100,2:200,3:300,4:400,5:500}
data2={'a':10,'b':20,'c':30,'d':40}
data1.update(data2)
print(data1)
print()
data2.update(data1)
print(data2)

In [10]:
#.copy():-This method is used to copy the dictionary items into single variable
data1={1:100,2:200,3:300,4:400,5:500}
data2=data1.copy()
print(data2)

{1: 100, 2: 200, 3: 300, 4: 400, 5: 500}

In [11]:
#.get(key):-this method is used to fetch the particular value in the dictionary and it only fetch the value
data1={'id':11,'name':'deepak','age':23,'salary':25000}
print(data1.get('id'))
print()
print(data1.get('name'))
print()
print(data1.get('salary'))
print()


print(data1.get('100'))# In get() method error will not occur id key is not present in the dictionary

print(data1['100']) #it will trace an error if key is noty present in the dictionary

11

deepak

25000

None

KeyError: '100'

In [ ]:
#.fromkeys(seq,value):-If we have to provide the same value to all the key of the data items then we we fromkeys methods
seq=('id','name','age','salary','city','email')
data={}
data=data.fromkeys(seq,100)
print(data)

In [ ]:
#dict():-this method is used to make the empty dictionary
data=dict()
print(type(data))

<font color="red">Interview questions<font>

In [15]:
id=[11,22,33,44]
name=["ankit","aman","deepak","pankaj"]
dic=dict(zip(id,name))
print(dic)

TypeError: 'dict' object is not callable

### Nested dictionary in python

In [ ]:
employees={1:{'name':'aman','age':23,'salary':2300},
           2:{'name':'raj','age':34,'salary':3000},
           3:{'name':'ankit','age':23,'salary':222},
           4:{'name':'ankit','age':23,'salary':300}
          }
print(employees)
print(employees[1])
print(employees[2]["salary"])
print(employees[4]["name"])

In [16]:
#updation of dictionary elements in the dictionary elements
employees={1:{'name':'aman','age':23,'salary':2300},
           2:{'name':'raj','age':34,'salary':3000},
           3:{'name':'ankit','age':23,'salary':222},
           4:{'name':'ankit','age':23,'salary':300}
          }
employees[4]={}
employees[4]['name']='Saroj'
employees[4]['age']=56
employees[4]['salary']=7000
print(employees)

{1: {'name': 'aman', 'age': 23, 'salary': 2300}, 2: {'name': 'raj', 'age': 34, 'salary': 3000}, 3: {'name': 'ankit', 'age': 23, 'salary': 222}, 4: {'name': 'Saroj', 'age': 56, 'salary': 7000}}

In [ ]:
# modify dictionary elements in nested dictionary
employees={1:{'name':'aman','age':23,'salary':2300},
           2:{'name':'raj','age':34,'salary':3000},
           3:{'name':'ankit','age':23,'salary':222},
           4:{'name':'ankit','age':23,'salary':300}
          }
employees[1]['name']="Ramu"
print(employees[1])

In [ ]:
#delete of dictionary elements in the nested dictionary
employees={1:{'name':'aman','age':23,'salary':2300},
           2:{'name':'raj','age':34,'salary':3000},
           3:{'name':'ankit','age':23,'salary':222},
           4:{'name':'ankit','age':23,'salary':300}
          }
del employees[1]
print(employees)
print()
del employees[3]['age']
print(employees)

# SET IN PYTHON

<font color="red">=>set data type is introduced in python after the 2.4 version of python.

<font color="red">=>The set data type "set" which is a collection of type has been part of python since 2.4

<font color="red">=>Set is an orderd collection of unique and mutable object.

<font color="red">=>set is mutable data type.

<font color="red">=>set is an unordered collection of unique data type

<font color="red">=>set does not support indexing and slicing.

In [ ]:
#set():-this function is used to make an empty set in the set data type
data=set()
data.add(20)
data.add(30)
data.add(60)
data.add(40)
print(data)

In [1]:
# .add():-this method is used to add the element in a particular set
data={10,20,30,40,50}
data.add(70)
print(data)

{50, 20, 70, 40, 10, 30}

In [4]:
# .remove():-this method is used to remove the particular element in a set
#             and produce an error if the element is not present in a set
data={10,20,30,40,50}
data.remove(30)
print(data)
print()
data.remove(100) #it will produce an error because 100 is not presenrt in ther particular set
print(data)

{50, 20, 40, 10}

KeyError: 100

In [15]:
#.discard():-this method is used to remove the specified items from the set and it will not 
#             produce an error if the elemnt is not present in the set.
fruits={"banana","apple","papaya","guava"}
fruits.discard("banana")
print(fruits)
print()
fruits.discard("mango")
print(fruits)

{'apple', 'guava', 'papaya'}

{'apple', 'guava', 'papaya'}

In [8]:
# .clear():-clear method is used to remove all the elements from the set.using this method we clr
#                 all the elements in the set not clear the entire set.
#            clear() method is used to only empty the existing set.
data={10,20,30,40,50}
data.clear()
print(data)
print()
data.add("ramu")
data.add(30)
data.add(45)
data.add("sohan")
data.add(75)
print(data)

set()

{'ramu', 'sohan', 75, 45, 30}

In [11]:
#.copy():-this method is used to copy the the set items into anothe variable
data={10,20,30,40,50}
data1=data.copy()
print(data1)

{50, 20, 40, 10, 30}

In [19]:
#.pop():-the pop method is used to remove the random items from the set.
#        this method returns the removed items\

data={10,20,30,40,50}
x=data.pop()
print(data)
print(x)

{20, 40, 10, 30}
50

In [13]:
# .update():-this method is used to add more than one element in a set
data1={10,20,30,40,50}
data2={'a','b','c','d'}
data1.update(data2)
print(data1)

{40, 'd', 10, 'b', 50, 'a', 20, 'c', 30}

In [6]:
#frozenset():-this method is used to creates an immutable set object from an iterable.
#             it is built-in python function.As it is set object,therefore we cannot have duplicat
#               value in the given set.
data=frozenset({10,20,30,40,50})
print(data)
print(type(data))
#data.add(100)#it will produce an error because frozenset is not accesible
print(data)
print()






# īn frozenset() we can only delete the set not add,delete,update or ant another method is not
#                accessible.
del data
print(data)

frozenset({50, 20, 40, 10, 30})
<class 'frozenset'>
frozenset({50, 20, 40, 10, 30})

NameError: name 'data' is not defined